---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

h2 {
  text-decoration: underline;
}
  

body {
  border-top: 0px;
}

p, blockquote p, ul, ol, ul.posts li {
  font-size: 24px;
  line-height: 36px;
}

#blog-posts {
  list-style-type: circle;
}

#related {
  margin-top: 20px;
}

img {
  width: 100%;
}

.content {
  border-left: 0;
  padding:0;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
