---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

h1 {
  font-size: 40px;
}

h2 {
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
}
  
body {
  border-top: 0px;
}

p, blockquote p, ul, ol, ul.posts li {
  font-size: 24px;
  line-height: 36px;
}

#blog-posts {
  list-style-type: circle;
}

#related {
  margin-top: 20px;
}

img {
  width: 100%;
}

.content {
  border-left: 0;
  padding:0;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 400px; 
  }
}


table{
  width:100%;
  table-layout: fixed;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

